body{
	color:white;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	line-spaceing:2px;
	background: #000000 url('../images/bg.jpg') no-repeat center center;
	background-size: cover;
	margin:0px;
	padding:0px;
}
.audio{
	display:none;
}
.wrapper{
	background: rgba(0, 0, 0, 0.6);
	height: 100vh;
	position:relative;
}
.settings{
	display:none;
}
h1{
	margin:0px;
	padding:0px;
	text-transform: uppercase;
	font-size: 137%;
	font-weight:600;
}
h1 span{
	color: #b143d1;
}
h2{
	margin:0px 0px 10px 0px;
	padding:0px;
	font-size:1.20em !important;
	font-weight:600;
}
a, a:link, a:visited, a:active{
	color:#36a7d1;
	text-decoration:none;
	text-transform: uppercase;
}
.partnered a,.partnered a:link,.partnered a:visited,.partnered a:active{
	color:#b143d1;
}
input{
	border-radius: 20px 0px 0px 20px;
	background-color: white;
	border: 1px solid black;
	color:black;
	padding:7px 5px 7px 5px;
}
.top{
	padding:10px;
	background: rgba(0, 0, 0, 0.4);
	display:flex;
}
.top.sticky{
	position:fixed;
	top:0px;
	z-index:2;
	background: rgba(0, 0, 0, 1);
	width:100%;
	transition: all 0.4s ease;
}
.title{
	padding-left:25px;
}
.link-wrap{
	border-top:1px solid gray;
	text-align:left;
}
nav a,nav a:link,nav a:visited,nav a:active{
	color:black;
	text-decoration:none;
	text-transform: uppercase;
	font-size:90%;
	font-weight: 600;
	display:block;
	color: #b143d1;
}
nav a:hover{
	text-decoration:underline;
}
.controls{
	text-align:left;
}
.ctrl{
	display:inline-block;
	margin-right: 1%;
	margin-left: 1%;
}
.ctrl button{
	background-color:#9b33b9;
	color: black;
	border: none;
	padding:5px;
	border-radius: 0px 20px 20px 0px;
	color:white;
	text-transform: uppercase;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:600;
	cursor: pointer;
	position:relative;
	left:-5px;
	top:1px;
	border:1px solid black;
}
.lurk-wrap input, .lurk-wrap p, .notification-sounds input, .notification-sounds p{
	display:inline-block;
	text-transform: uppercase;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding:0px; 
	margin:0px;
	position:relative;
	top:5px;
}
.lurk-wrap input, .notification-sounds input{
	width:20px;
	height:20px;
	position:relative;
	top:10px;
	cursor: pointer;
}
.add-single-wrap{
	border-top:1px solid gray;
}
.content{
	padding-bottom:3em;
}

.notification-wrap{
	text-align:left;
	z-index:2;
	border-top:1px solid gray;
	min-height:200px;
}
.notification{
	max-height:350px;
	overflow:hidden;
	text-align:left;
}
.notification button{
	background-color:gray;
	color: white;
	border: none;
	padding:3px 6px;
	border-radius: 20px;
	color:white;
	text-transform: uppercase;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	font-size:10pt;
}
.addallbutton{
	background-color:#9b33b9;
	color: black;
	border: none;
	padding:3px 6px;
	border-radius: 20px;
	color:white;
	text-transform: uppercase;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
	display:none;
	font-size:11px;
	position:relative;
	top:-2px;
}
.notification button:hover{
	background-color:#9b33b9;
}
.notification-name{
	margin:5px 0px;
}
.notification-name span{
	padding-left:5px;
	font-weight:bold;
}
.partner-notification{
	color:#b143d1;
	max-width:146px;
	overflow:hidden;
	text-overflow:ellipsis;
	display:inline-block;
	vertical-align: top;
}
.regular-notification{
	color:#36a7d1;
	max-width:146px;
	overflow:hidden;
	text-overflow:ellipsis;
	display:inline-block;
	vertical-align: top;
}
.notification-new{
	color:green;
	font-size:10pt;
	display:inline-block;
	vertical-align: top;
	text-shadow: 0 0 3px #7FFF00;
}
.channelwrapper{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
.stream{
	position:relative;
	background-color: #191c2d;
	padding:0px;
	border-radius: 5px;
	margin:10px;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
	flex-grow:1;
	border: 1px solid #121212;
}
.streambar{
	border-radius: 5px 5px 0px 0px;
	background-color: #1e1e1e;
	padding:2px 5px 2px 5px;
	cursor:all-scroll;
	height:21px;
}
.closestream, .closestreamembed{
	text-align:right;
	cursor:pointer;
	float:right;
}
.stream button{
	border:none;
	border-radius:10px;
	background-color: #cecece;
	font-size:.7em;
	cursor: pointer;
	font-size:80%;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.streamtop{
	background-color:#2e2f2f;
	margin-bottom:10px;
}
.streamtop, .chatwrap{
	padding: 10px;
}
.cGame, .cTitle, .stream h2{
	font-size:.8em;
	width:300px;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:white;
	margin-bottom:5px;
}
.offline a:active,.offline a:link,.offline a:visited,.offline a:hover{
	color:#bababa;
}
.chatembed{
	height:400px;
	width:100%;
	border:none;
}
.stream-placeholder{
	border: 1px dotted #cecece;
}
.stream-notice{
	display:inline-block;
	width:75%;
	overflow:hidden;
}
.follower{
	color:#53cb02;
	font-weight:bold;
	max-width: 80%;
}
.subscriber{
	color:#b143d1;
	font-weight:bold;
	max-width: 80%;
}
.streamembed{
	min-width:649px;
	flex-grow:2;
}
.streamembed .streamtop{
	height:100px;
}
.streamwrap{
	position:relative;
	width:100%;
	height:0px;
	padding-bottom:56.25%;
}
.streamwrap iframe{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	border:none;
}

.likethis a, .likethis a:hover, .likethis a:link, .likethis a:visited{
	text-transform: lowercase;
}

/** Nav Styling **/
.menuburger{
	position:relative;
	top:5px;
}
.menu-link:link,
.menu-link:visited {
  color: white;
  background: rgba(166, 63, 195, 1);
  border-radius: 4px;
  padding: .2em .4em;
  text-decoration:none;
}

.menu-link:hover,
.menu-link:active {
  color: white;
  background: rgba(166, 63, 195, .6);
}
#menu{
	background-color:#eaeaea;
	color:black;
}
.inner-menu-wrap{
	padding:10px;
}
.menu-section{
	margin-top:10px;
}
.menu-notification-alert{
	background-color:red;
	border-radius:100px;
	padding:1px 4px;
	position:absolute;
	top:-8px;
	right:-8px;
	font-size:8pt;
	display:none;
}
.notification-section-title h2, .notification-section-title .addallbuttonwrap{
	display:inline-block;
}
