body{
	color:white;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	line-spaceing:2px;
	background: #000000 url('../images/bg.jpg') no-repeat center center;
	background-size: cover;
	margin:0px;
	padding:0px;
}
.audio{
	display:none;
}
.wrapper{
	background: rgba(0, 0, 0, 0.6);
	height: 100vh;
}
h1{
	margin:0px;
	padding:0px;
	text-transform: uppercase;
	font-size: 137%;
	font-weight:600;
}
h1 span{
	color: #b143d1;
}
h2{
	margin:0px;
	padding:0px;
	font-size:1.20em !important;
	font-weight:600;
}
a, a:link, a:visited, a:active{
	color:#36a7d1;
	text-decoration:none;
	text-transform: uppercase;
}
.partnered a,.partnered a:link,.partnered a:visited,.partnered a:active{
	color:#b143d1;
}
input{
	border-radius: 20px;
	background-color: white;
	border: 1px solid black;
	color:black;
	padding:7px 5px 7px 5px;
}
.top{
	padding:10px;
	background: rgba(0, 0, 0, 0.4);
	display:flex;
}
.controls{
	text-align:right;
}
.left{
	margin-right:2%;
}
.right{
	flex-grow: 2;
}
nav a,nav a:link,nav a:visited,nav a:active{
	color:white;
	text-decoration:none;
	text-transform: uppercase;
	font-size:90%;
	font-weight: 600;
}
nav a:hover{
	text-decoration:underline;
}
.ctrl{
	display:inline-block;
	margin-right: 1%;
	margin-left: 1%;
}
.ctrl button{
	background-color:#9b33b9;
	color: black;
	border: none;
	padding:5px;
	border-radius: 20px;
	color:white;
	text-transform: uppercase;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:600;
	cursor: pointer;
}
.lurk-wrap input, .lurk-wrap p, .notification-sounds input, .notification-sounds p{
	display:inline-block;
	text-transform: uppercase;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:600;
}
.lurk-wrap input, .notification-sounds input{
	width:30px;
	height:30px;
	position:relative;
	top:10px;
	cursor: pointer;
}
.content{
	padding-bottom:3em;
}

.notification-wrap{
	text-align:center;
	background: rgba(0, 0, 0, 1);
	padding:10px;
	position:fixed;
	bottom:5px;
	right:5px;
	z-index:2;
	border:1px solid gray;
	display:none;
}
.notification{
	max-height:300px;
	overflow:hidden;
}
.notification-button{
	padding-top:5px;
	border-top: 1px solid gray;
}
.notification-wrap .followeraddbtn, .notification-wrap .notificationclosebtn{
	background-color:#9b33b9;
	color: black;
	border: none;
	padding:5px 10px 5px 10px;
	border-radius: 20px;
	color:white;
	text-transform: uppercase;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:600;
	cursor: pointer;
}
.notification-wrap .notificationclosebtn{
	background-color:#5d5d5d;
}
.notification-name{
	padding:0px 5px 5px 5px;
}
.partner-notification{
	color:#b143d1;
}
.regular-notification{
	color:#36a7d1;
}

.channelwrapper{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
.stream{
	position:relative;
	background-color: #0b0617;
	padding:0px;
	border-radius: 5px;
	margin:10px;
	-webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.25);
	flex-grow:1;
	border: 1px solid #121212;
}
.streambar{
	border-radius: 5px 5px 0px 0px;
	background-color: #1e1e1e;
	padding:2px 5px 2px 5px;
	cursor:all-scroll;
	height:21px;
}
.closestream, .closestreamembed{
	text-align:right;
	cursor:pointer;
	float:right;
}
.stream button{
	border:none;
	border-radius:10px;
	background-color: #cecece;
	font-size:.7em;
	cursor: pointer;
	font-size:80%;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.streamtop{
	background-color:#2e2f2f;
	margin-bottom:10px;
}
.streamtop, .chatwrap{
	padding: 10px;
}
.cGame, .cTitle, .stream h2{
	font-size:.8em;
	width:300px;
	overflow:hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color:white;
	margin-bottom:5px;
}
.offline a:active,.offline a:link,.offline a:visited,.offline a:hover{
	color:#bababa;
}
.chatembed{
	height:400px;
	width:100%;
	border:none;
}
.stream-placeholder{
	border: 1px dotted #cecece;
}
.stream-notice{
	display:inline-block;
	width:75%;
	overflow:hidden;
}
.follower{
	color:#53cb02;
	font-weight:bold;
	max-width: 80%;
}
.subscriber{
	color:#b143d1;
	font-weight:bold;
	max-width: 80%;
}
.streamembed{
	min-width:649px;
	flex-grow:2;
}
.streamembed .streamtop{
	height:100px;
}
.streamwrap{
	position:relative;
	width:100%;
	height:0px;
	padding-bottom:56.25%;
}
.streamwrap iframe{
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	border:none;
}

.footer {
	width: 35%;
	margin:auto;
	padding:10px;
	color:white;
	border:1px solid gray;
	clear: both;
	position: relative;
	text-align:center;
	background: rgba(0, 0, 0, 0.6);
}
.footer a, .footer a:active, .footer a:visited, .footer a:hover{
	text-transform: lowercase;
}
